*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Colour */

:root {
  --hard-pink: #ee2f58;
  --ligh-color: #e3e3d5;
  --light-bg-color: #fffffa;
  --night-blue: #0c152a;
  --royal-blue: #23364e;
  --sea-weed: #2c5f63;
}

/* Global */

.abel-regular {
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--hard-pink);
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: url("../assets/img/cursor_default.png"), pointer;
}

a:hover {
  text-decoration: underline;
  color: var(--night-blue);
}

h1 {
  margin: 0;
  font-family: "Abel", sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 90.611%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  cursor: url("../assets/img/cursor_pointer.png"), auto;
}

main {
  flex-grow: 1;
  background: var(--light-bg-color);
  background-image: radial-gradient(circle, #e3e3d54f 2px, transparent 2px);
  background-size: 20px 20px; /* Adjust spacing between dots */
}

.opening-animation {
  width: auto;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* UI */

.ui-bottom,
.ui-top {
  position: fixed;
  z-index: 10;
}

.ui-top {
  top: 20px;
  right: 20px;
}

.ui-bottom {
  bottom: 20px;
  left: 20px;
}

/* Logo */

.logo-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  z-index: 10;
}

.logo path {
  fill: var(--night-blue);
  transition: fill 0.3s ease-in-out;
}

@media screen and (min-width: 897px) {
  .logo path:hover {
    fill: var(--hard-pink);
  }
}

.avatar-line {
  width: 2px;
  height: 100px;
  background: var(--hard-pink);
  margin: 0px 20px;
}

.avatar-bio-container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  opacity: 0;
  transition: transform 0.3s ease-in-out;
}

.avatar-bio-container p {
  text-transform: uppercase;
  color: var(--hard-pink);
  margin: 10px 0px;
}

.avatar-name {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.avatar-bio-container.avatar-left {
  transform: translateX(-50%);
}

.avatar-bio-container.avatar-right {
  transform: translateX(50%);
}

.avatar-right p {
  min-width: 327px;
}

/* Video */

.bio-video {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 5;
}

.cv-video,
.contact-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* Contact */

.contact-container {
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 10;
  cursor: url("../assets/img/cursor_default.png"), pointer;
}

.contact-content {
  background-color: rgba(44, 95, 99, 0.5);
  border: rgba(44, 95, 99, 0.7) 2px solid;
  color: var(--night-blue);
  border-radius: 4px;
  padding: 4px;
}

.contact-content a {
  color: var(--night-blue);
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-icon {
  z-index: 3;
}

.contact-icon path {
  fill: var(--hard-pink);
}

/* Portfolio */

.portfolio-wrapper {
  position: absolute;
  right: calc(50% - 438px);
  bottom: calc(50% - 340px);
  z-index: 5;
  opacity: 0;
}

.portfolio {
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, auto));
  overflow: hidden;
}

.portfolio-container {
  position: relative;
  overflow: hidden;
  z-index: 5;
  padding-bottom: 20px;
}

.portfolio-container::before {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 250, 0.5);
  content: "";
  position: absolute;
  top: 16px;
  left: 16px;
  width: calc(100% - 32px);
  height: calc(100% - 54px);
  z-index: -1;
}

.portfolio-content {
  position: absolute;
  margin: 40px 0px 0px 40px;
  max-width: 216px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.portfolio-content h1 {
  margin: 0px 0px 8px 0px;
}

.portfolio-content svg {
  margin: 24px 0px 0px -20px;
}

.portfolio-description {
  margin: 4px 0px;
}

.portfolio-links {
  font-size: 20px;
}

/* Override */

.hidden {
  display: none;
  pointer-events: none;
}

/* Animation */

@keyframes logoAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-100% - 0px));
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-25%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(25%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInBottom {
  0% {
    transform: translateY(25%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 896px) {
  .portfolio-wrapper {
    right: calc(50% - 146px);
    bottom: calc(50% - 1254px);
  }

  .portfolio {
    grid-template-columns: 1fr;
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
  }

  .portfolio.moved {
    transform: translateY(255px);
  }

  .bio-info-mobile {
    text-transform: uppercase;
    color: var(--hard-pink);
    font-size: 15px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .bio-info-mobile.active {
    opacity: 1;
  }

  .cv-video {
    display: none;
  }

  .bio-video {
    width: 260px;
    height: auto;
  }

  .contact-container {
    bottom: 14px;
    right: 14px;
  }

  .ui-bottom {
    bottom: 14px;
    left: 14px;
  }

  .ui-top {
    top: 14px;
    right: 14px;
  }

  .logo_highlight path {
    fill: var(--hard-pink);
    transition: fill 0.3s ease-in-out;
  }

  .avatar-line {
    width: 100%;
    height: 2px;
    background: var(--hard-pink);
    margin: 20px 0px;
  }

  .timer-small {
    margin: 0px 0px 20px 0px;
  }

  @keyframes logoAnimation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(calc(-100% + 20px));
    }
  }
}

@media screen and (max-width: 600px) {
  .logo {
    width: 75%;
    height: auto;
  }

  @keyframes logoAnimation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(calc(-100% + 60px));
    }
  }
  @keyframes slideInBottom {
    0% {
      transform: translateY(25%);
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      transform: translateY(5%);
      opacity: 1;
    }
  }
}
